*
!.gitignore
!starship.toml
!nvim
!tmux
!ruff
!kitty
!kanata
!zsh
!btop
!yazi
!nvim/**
!tmux/**
!ruff/**
!kitty/**
!kanata/**
!zsh/**
!btop/**
!yazi/**

nvim/tags
nvim/test.sh
nvim/*.luarc.json
nvim/nvim
nvim/spell/
tmux/plugins/*
