*
!.gitignore
!nvim
!tmux
!ruff
!kitty
!kanata
!hypr
!zsh
!botop
!yazi
!nvim/**
!tmux/**
!ruff/**
!kitty/**
!kanata/**
!hypr/**
!zsh/**
!botop/**
!yazi/**

nvim/tags
nvim/test.sh
nvim/*.luarc.json
nvim/nvim
nvim/spell/
tmux/plugins/*
